.gridOT_cmd {
    position: absolute;
    right: 20px;
    margin-top:-50px;
}
@media (max-width: 768px) {
    .gridOT_cmd {
        position: inherit;
        margin-top: 0px;
        margin-bottom: 5px;
    }
}
.darkcolor .dx-texteditor-input {
    -webkit-appearance: none!important;

}
.dx-button-content {
    padding: 7px!important;
}